{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app id="inspire" mobile-breakpoint="sm">
      <jhMenu />
      <v-main class="d-flex flex-column" style="margin-top: 60px">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="d-flex" :style="{'flex-wrap': isMobile ? 'wrap' : 'nowrap'}" :class="{'px-8': !isMobile, 'px-4': isMobile}"><div>
            <div class="appTitle pt-3" style="font-size: 18px; font-weight: 700">{{ breadcrumbs[1].fullText }}
              <!-- 帮助页按钮 -->
              <v-icon @click="isHelpPageDrawerShow = true" small>mdi-help-circle-outline</v-icon>
            </div>
            <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
          </div>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="pageBodyContainer px-8" style="flex: 1;">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-card :class="{'px-2': isMobile}">
            <v-row class="ma-0  align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
              <v-col cols="12" xs="12" sm="6" md="6" xl="6" class="pl-0">
                <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem', null)">新增同步表</v-btn>
                <v-btn color="primary" dark class="elevation-0 mr-2" @click="doUiAction('manualSyncAll', null)">全部-手动同步</v-btn>
                <template v-if="isMobile"><br></template>
                <span class="body-2">共{{ tableDataFromBackend.length }}条记录</span>
                <span class="body-2"><v-chip class="ma-2" color="default">定时同步: {{ dataSyncStatus }}</v-chip></span>
              </v-col>

              <v-spacer></v-spacer>

              <v-col cols="12" xs="12" sm="6" md="3" xl="3" class="px-0">
                <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line></v-text-field>
              </v-col>

            </v-row>
            <v-data-table
                          :headers="headers"
                          :items="tableDataFromBackend"
                          :search="searchInput"
                          :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                          :items-per-page="-1"
                          :loading="isTableLoading"
                          checkbox-color="success"
                          :class="{'mx-2': isMobile}"

                          mobile-breakpoint="0"
                          class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
              <template v-slot:item.operationAt="{ item }">
                {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
              </template>
              <template v-slot:item.lastSyncTime="{ item }">
                {{ item.lastSyncTime && dayjs(item.lastSyncTime).format('YYYY-MM-DD HH:mm:ss') }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-btn small class="mr-2" color="success" @click="doUiAction('startUpdateItem', {item})">修改</v-btn>
                <v-btn small class="mr-2" color="error" @click="doUiAction('deleteItem', {item})">删除</v-btn>
                <v-btn small class="mr-2" color="" @click="doUiAction('manualSyncOneTable', {item})">同步</v-btn>
              </template>
            </v-data-table>
          </v-card>

          <!-- 编辑抽屉 -->
          <v-navigation-drawer v-model="isEditDrawerShow" fixed temporary right width="80%"
                              class="elevation-24">
            <v-form v-model="isFormValid" ref="form" lazy-validation  v-if="isEditDrawerShow">
              <v-row class="pt-8">
                <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-8': isMobile}">{{ currentClickButton.title }}信息</span>
                <v-spacer></v-spacer>
                <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
                  <v-icon dark>mdi-close</v-icon>
                </v-btn>
              </v-row>
              <v-row  :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
                <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
                <span class="inputLabel">数据库</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line clearable label="数据库" :rules="requireRules" v-model="editItem.sourceDatabase" :items="constantCollection.sourceDatabase"></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
                <span class="inputLabel">表格</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line clearable label="表格" :rules="requireRules" v-model="editItem.sourceTable" :items="constantCollection.sourceTable"></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
                <span class="inputLabel">同步间隔（分）</span>
                  <v-text-field class="cus-v-input mr-2" dense filled single-line label="同步间隔（分）" type="number" :rules="numberRules" v-model="editItem.syncTimeSlot"></v-text-field>
                </v-col>
              </v-row>
              <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-4': isMobile, 'mb-8': isMobile}">
                <v-btn color="success" @click="doUiAction(dialogSaveInfoAction)">保存</v-btn>
                <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
              </v-row>
            </v-form>
          </v-navigation-drawer>
          <!-- <<<<<<<<<<<<< 页面内容 -->
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShow" fixed temporary right width="80%" class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc?markdownPath#1.tableSyncConfig.md`" width="100%" height="100%"></iframe>
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShow = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

      </v-main>
    </v-app>

    <jhToast />
    <jhMask />
    <jhConfirmDialog />
  </div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: {
      isMobile: window.innerWidth < 600,
      // 表格相关数据
      isFormValid: true,
      dataSyncStatus: "<$ ctx.app.config.dataSyncStatus $>",
      requireRules: [ v => !!v || 'This is required' ],
      numberRules: [ v => !_.isEmpty(_.trim(v)) && !isNaN(v) || 'This is number'],
      constantCollection: {
        sourceDatabase: [],
        sourceTable: []
      },
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        {text: "数据库", value: "sourceDatabase", width: 140, class: 'fixed', cellClass: 'fixed'},
        {text: "表格", value: "sourceTable", width: 140},
        {text: "同步间隔/同步检查间隔（分）", value: "syncTimeSlot", width: 140},
        {text: "同步状态", value: "syncDesc", width: 200},
        {text: "最后一次触发同步的时间", value: "lastSyncTime", width: 140},
        {text: '操作时间', value: 'operationAt', width: 200},
        {text: "操作人", value: "operationByUser", width: 140},
        {text: '操作', value: 'action', align: 'center', sortable: false, width: 250, class: 'fixed', cellClass: 'fixed'},
      ],

      currentClickButton: {title: '新增', action: 'add'},
      editItem: {},
      tableButtonList: [
        {text: '修改', buttonType: 'edit', color: 'success',},
        {text: '删除', buttonType: 'delete', color: 'error',},
        {text: '手动同步', buttonType: 'manualSyncOneTable', color: ''},
      ],
      dialogSaveInfoAction: '',
      breadcrumbs: window.breadcrumbs,
      isHelpPageDrawerShow: false,
    },
    watch: {
      editItem: {
        handler(value, oldValue) {
          if(!_.isEmpty(value.sourceDatabase)) {
            this.doUiAction('resetSourceTable', {sourceDatabase: value.sourceDatabase});
          }
        },
        deep: true
      }
    },
    async created() {

    },
    mounted() {
      this.doUiAction('refreshTableData');
      this.doUiAction('getAllApp');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData(uiActionData);
            break;
          case 'startCreateItem':
            await this.clearItemData(uiActionData);
            await this.openCreateItemDialog(uiActionData);
            break;
          case 'createItem':
            await this.prepareValidate(uiActionData);
            await this.confirmCreateItemDialog(uiActionData);
            await this.doCreateItem(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog(uiActionData);
            break;
          case 'updateItem':
            await this.prepareValidate(uiActionData);
            await this.confirmUpdateItemDialog(uiActionData);
            await this.doUpdateItem(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog(uiActionData);
            await this.prepareItemData(uiActionData);
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData(uiActionData);
            break;
          case 'manualSyncOneTable':
            await this.confirmSyncOneTableDialog(uiActionData);
            await this.doManualSyncOneTable(uiActionData);
            await this.refreshTableData(uiActionData);
            break;
          case 'manualSyncAll':
            await this.confirmManualSyncAllDialog(uiActionData);
            await this.doManualSyncAll(uiActionData);
            await this.refreshTableData(uiActionData);
            break;
          case 'resetSourceTable':
            await this.doResetSourceTable(uiActionData);
            break;
          case 'getAllApp':
            await this.doGetAllApp(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * 获取表格数据
       */
      async doGetAllApp() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'selectSourceDatabase',
            }
          }
        });
        this.constantCollection.sourceDatabase = result.data.appData.resultData.rows.map((row) => { return {"value": row.sourceDatabase, "text": row.sourceDatabase } })
      },
      /**
       * 获取表格数据
       */
      async doResetSourceTable({sourceDatabase}) {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'selectSourceTable',
              actionData: { sourceDatabase },
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });
        this.constantCollection.sourceTable = result.data.appData.resultData.rows.map((table) => { return {"value": table.sourceTable, "text": table.sourceTable} });
      },
      /**
       * 获取表格数据
       */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'selectItemList',
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });

        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },


      // startCreateItem
      async clearItemData() {
        this.editItem = { syncTimeSlot: 5 };
      },

      async openCreateItemDialog() {
        this.currentClickButton = {action: 'add', title: '新增'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'createItem';
      },

      // createItem
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      /**
       * 新增表同步配置
       */
      async doCreateItem() {
        delete this.editItem.id;
        window.vtoast.loading("保存中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'insertTable',
              actionData: this.editItem
            }
          }
        })
        window.vtoast.success("保存成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
      },

      // startUpdateItem
      async prepareItemData({item}) {
        this.editItem = {...item};
      },

      async openUpdateDialog() {
        this.currentClickButton = {action: 'edit', title: '修改'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'updateItem';
      },

      // updateItem
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },
      /**
       * 保存
       */
      async doUpdateItem() {
        window.vtoast.loading("保存中");
        const id = this.editItem.id;
        delete this.editItem.id;
        delete this.editItem.count;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'updateTable',
              actionData: this.editItem,
              where: {id: id}
            }
          }
        })
        window.vtoast.success("修改成功");
      },

      // updateItem
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },
      /**
       * 删除表同步配置
       */
      async doDeleteItem() {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'deleteTable',
              actionData: { id: this.editItem.id }
            }
          }
        });
        window.vtoast.success("删除成功")
      },

      // updateItem
      async confirmSyncOneTableDialog() {
        if (await window.confirmDialog({title: "确定要同步这张表吗", content: "确定同步吗？"}) === false) {
          throw new Error("[confirmSyncOneTableDialog] 否");
        }
      },
      async doManualSyncOneTable() {
        window.vtoast.loading("同步中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'syncTable',
              actionData: {
                sourceDatabase: this.editItem.sourceDatabase,
                sourceTable: this.editItem.sourceTable
              }
            }
          }
        });
        window.vtoast.success("同步成功")
      },
      // updateItem
      async confirmManualSyncAllDialog() {
        if (await window.confirmDialog({title: "确定要全部同步吗", content: "确定同步吗？"}) === false) {
          throw new Error("[confirmSyncOneTableDialog] 否");
        }
      },
      async doManualSyncAll() {
        window.vtoast.loading("同步中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'syncTable',
              actionData: {}
            }
          }
        });
        window.vtoast.success("手动同步成功")
      },

      // validate
      async prepareValidate() {
        if (await this.$refs.form.validate() === false) {
          throw new Error("[prepareValidate] false");
        }
      },
      dayjs: dayjs,
    }
  })
</script>

<style scoped>
</style>
{% endblock %}
