{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>

  <!-- 页面主要内容 -->
  <v-card>
    <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
        <span class="body-2">共{{ tableData.length }}条记录</span>
        <span class="body-2"><v-chip class="ma-2" small color="default">同步模式: {{ syncModel }}</v-chip></span>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="pa-xs-0 pa-xs-2 col-sm-8-flex pr-0">
        <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>

    </v-row>
    <v-data-table fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                  :items-per-page="20"
                  :loading="isTableLoading"
                  checkbox-color="success"
                  :class="{'mx-4': isMobile}"
                  mobile-breakpoint="0"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
      <template v-slot:item.syncTime="{ item }">
        {{ item.syncTime && dayjs(item.syncTime).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.operationAt="{ item }">
        {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn small class="mr-2" :class="tableButton.color" v-for="tableButton of tableButtonList" @click="handleTableButton(tableButton, item)">
          {{ tableButton.text }}
        </v-btn>
      </template>
    </v-data-table>
  </v-card>




{% endblock %}

{% block vue_body %}
<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    mixins: [window.jianghuUiActionMixins],
    data: {
      // 表格相关数据
      isFormValid: true,
      syncModel: "<$ ctx.app.config.syncModel $>",
      showFullData: false,
      showLeftMenu: window.innerWidth > 600,
      requireRules: [ v => !!v || 'This is required' ],
      constantCollection: {
      },
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        {text: "数据库", value: "sourceDatabase", width: 140, class: 'fixed', cellClass: 'fixed'},
        {text: "表格", value: "sourceTable", width: 140},
        {text: "同步动作", value: "syncAction", width: 200},
        {text: "同步状态", value: "syncDesc", width: 300},
        {text: "同步时间", value: "syncTime", width: 200},
      ],
    },
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      },
    },
    watch: {
      showFullData() {
        this.doUiAction('refreshTableData');
      }
    },
    async created() {
      setInterval(()=> {
        this.doUiAction('refreshTableData');
      }, 10000)
    },
    mounted() {
      this.doUiAction('refreshTableData');
    },
    methods: {
      /**
       * 获取表格数据
       */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncLog',
              actionId: 'selectItemList',
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });

        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },
      dayjs: dayjs,
    }
  })
</script>


{% endblock %}
