{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>

  <!-- 页面主要内容 -->

  <v-card :class="{'px-2': isMobile}">
    <v-row class="ma-0  align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
      <v-col cols="12" xs="12" sm="6" md="6" xl="6" class="pl-0">
        <v-btn color="success" dark class="elevation-0 mr-2" @click="doAction('startCreateItem', null)">新增同步表</v-btn>
        <v-btn color="primary" dark class="elevation-0 mr-2" @click="doAction('manualSyncAll', null)">全部-手动同步</v-btn>
        <template v-if="isMobile"><br></template>
        <span class="body-2">共{{ tableData.length }}条记录</span>
        <span class="body-2"><v-chip class="ma-2" color="default">同步模式: {{ enableDataSync ? '启用' : '未启用' }}</v-chip></span>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="12" xs="12" sm="6" md="3" xl="3" class="px-0">
        <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>

    </v-row>
    <v-data-table
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                  :items-per-page="-1"
                  :loading="isTableLoading"
                  checkbox-color="success"
                  :class="{'mx-2': isMobile}"

                  mobile-breakpoint="0"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
      <template v-slot:item.operationAt="{ item }">
        {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.lastSyncTime="{ item }">
        {{ item.lastSyncTime && dayjs(item.lastSyncTime).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn small class="mr-2" color="success" @click="doAction('startUpdateItem', {item})">修改</v-btn>
        <v-btn small class="mr-2" color="error" @click="doAction('deleteItem', {item})">删除</v-btn>
        <v-btn small class="mr-2" color="" @click="doAction('manualSyncOneTable', {item})">同步</v-btn>
      </template>
    </v-data-table>
  </v-card>

  <!-- 编辑抽屉 -->
  <v-navigation-drawer v-model="isEditDrawerShow" fixed temporary right width="80%"
                       class="elevation-24">
    <v-form v-model="isFormValid" ref="form" lazy-validation  v-if="isEditDrawerShow">
      <v-row class="pt-8">
        <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-8': isMobile}">{{ currentClickButton.title }}信息</span>
        <v-spacer></v-spacer>
        <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row  :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
        <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">数据库</span>
          <v-select class="cus-v-input mr-2" dense filled single-line clearable :disabled="currentClickButton.action !== 'add'" label="数据库" :rules="requireRules" v-model="editItem.sourceDatabase" :items="constantCollection.sourceDatabase"></v-select>
        </v-col>
        <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">表格</span>
          <v-select class="cus-v-input mr-2" dense filled single-line clearable :disabled="currentClickButton.action !== 'add'" label="表格" :rules="requireRules" v-model="editItem.sourceTable" :items="constantCollection.sourceTable"></v-select>
        </v-col>
        <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">同步间隔（分）</span>
          <v-text-field class="cus-v-input mr-2" dense filled single-line label="同步间隔（分）" type="number" :rules="numberRules" v-model="editItem.syncTimeSlot"></v-text-field>
        </v-col>
      </v-row>
      <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-4': isMobile, 'mb-8': isMobile}">
        <v-btn color="success" @click="doAction(dialogSaveInfoAction)">保存</v-btn>
        <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
      </v-row>
    </v-form>
  </v-navigation-drawer>
</jh-layout-v3>


{% endblock %}

{% block vue_body %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    mixins: [window.jianghuUiActionMixins],
    data: {
      // 表格相关数据
      isFormValid: true,
      enableDataSync: "<$ ctx.app.config.enableDataSync $>",
      requireRules: [ v => !!v || 'This is required' ],
      numberRules: [ v => !_.isEmpty(_.trim(v)) && !isNaN(v) || 'This is number'],
      constantCollection: {
        sourceDatabase: [],
        sourceTable: []
      },
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        {text: "数据库", value: "sourceDatabase", width: 140, class: 'fixed', cellClass: 'fixed'},
        {text: "表格", value: "sourceTable", width: 140},
        {text: "同步间隔/同步检查间隔（分）", value: "syncTimeSlot", width: 140},
        {text: "同步状态", value: "syncDesc", width: 200},
        {text: "最后一次触发同步的时间", value: "lastSyncTime", width: 140},
        {text: '操作时间', value: 'operationAt', width: 200},
        {text: "操作人", value: "operationByUser", width: 140},
        {text: '操作', value: 'action', align: 'center', sortable: false, width: 250, class: 'fixed', cellClass: 'fixed'},
      ],

      currentClickButton: {title: '新增', action: 'add'},
      editItem: {},
      tableButtonList: [
        {text: '修改', buttonType: 'edit', color: 'success',},
        {text: '删除', buttonType: 'delete', color: 'error',},
        {text: '手动同步', buttonType: 'manualSyncOneTable', color: ''},
      ],
      dialogSaveInfoAction: ''
    },
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      },
    },
    watch: {
      editItem: {
        handler(value, oldValue) {
          if(!_.isEmpty(value.sourceDatabase)) {
            this.doAction('resetSourceTable', {sourceDatabase: value.sourceDatabase});
          }
        },
        deep: true
      }
    },
    async created() {

    },
    mounted() {
      this.doAction('refreshTableData');
      this.doAction('getAllApp');
    },
    methods: {
      async doAction(uiActionId, actionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData(actionData);
            break;
          case 'startCreateItem':
            await this.clearItemData(actionData);
            await this.openCreateItemDialog(actionData);
            break;
          case 'createItem':
            await this.prepareValidate(actionData);
            await this.confirmCreateItemDialog(actionData);
            await this.doCreateItem(actionData);
            await this.refreshTableData(actionData);
            await this.closeDrawerShow(actionData);
            break;
          case 'startUpdateItem':
            await this.prepareItemData(actionData);
            await this.openUpdateDialog(actionData);
            break;
          case 'updateItem':
            await this.prepareValidate(actionData);
            await this.confirmUpdateItemDialog(actionData);
            await this.doUpdateItem(actionData);
            await this.refreshTableData(actionData);
            await this.closeDrawerShow(actionData);
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog(actionData);
            await this.prepareItemData(actionData);
            await this.doDeleteItem(actionData);
            await this.refreshTableData(actionData);
            break;
          case 'manualSyncOneTable':
            await this.confirmSyncOneTableDialog(actionData);
            await this.doManualSyncOneTable(actionData);
            await this.refreshTableData(actionData);
            break;
          case 'manualSyncAll':
            await this.confirmManualSyncAllDialog(actionData);
            await this.doManualSyncAll(actionData);
            await this.refreshTableData(actionData);
            break;
          case 'resetSourceTable':
            await this.doResetSourceTable(actionData);
            break;
          case 'getAllApp':
            await this.doGetAllApp(actionData);
            break;
          default:
            console.error("[doAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * 获取表格数据
       */
      async doGetAllApp() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'selectSourceDatabase',
            }
          }
        });
        this.constantCollection.sourceDatabase = result.data.appData.resultData.rows.map((row) => { return {"value": row.sourceDatabase, "text": row.sourceDatabase } })
      },
      /**
       * 获取表格数据
       */
      async doResetSourceTable({sourceDatabase}) {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'selectSourceTable',
              actionData: { sourceDatabase },
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });
        this.constantCollection.sourceTable = result.data.appData.resultData.rows.map((table) => { return {"value": table.sourceTable, "text": table.sourceTable} });
      },
      /**
       * 获取表格数据
       */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'selectItemList',
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });

        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },


      // startCreateItem
      async clearItemData() {
        this.editItem = {};
      },

      async openCreateItemDialog() {
        this.currentClickButton = {action: 'add', title: '新增'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'createItem';
      },

      // createItem
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      /**
       * 新增表同步配置
       */
      async doCreateItem() {
        delete this.editItem.id;
        window.vtoast.loading("保存中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'insertTable',
              actionData: this.editItem
            }
          }
        })
        window.vtoast.success("保存成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
      },

      // startUpdateItem
      async prepareItemData({item}) {
        this.editItem = {...item};
      },

      async openUpdateDialog() {
        this.currentClickButton = {action: 'edit', title: '修改'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'updateItem';
      },

      // updateItem
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },
      /**
       * 保存学生
       */
      async doUpdateItem() {
        window.vtoast.loading("保存中");
        const id = this.editItem.id;
        delete this.editItem.id;
        delete this.editItem.count;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'updateTable',
              actionData: this.editItem,
              where: {id: id}
            }
          }
        })
        window.vtoast.success("修改成功");
      },

      // updateItem
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },
      /**
       * 删除表同步配置
       */
      async doDeleteItem() {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'deleteTable',
              actionData: { id: this.editItem.id }
            }
          }
        });
        window.vtoast.success("删除成功")
      },

      // updateItem
      async confirmSyncOneTableDialog() {
        if (await window.confirmDialog({title: "确定要同步这张表吗", content: "确定同步吗？"}) === false) {
          throw new Error("[confirmSyncOneTableDialog] 否");
        }
      },
      async doManualSyncOneTable() {
        window.vtoast.loading("同步中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'syncTable',
              actionData: {
                sourceDatabase: this.editItem.sourceDatabase,
                sourceTable: this.editItem.sourceTable
              }
            }
          }
        });
        window.vtoast.success("同步成功")
      },
      // updateItem
      async confirmManualSyncAllDialog() {
        if (await window.confirmDialog({title: "确定要全部同步吗", content: "确定同步吗？"}) === false) {
          throw new Error("[confirmSyncOneTableDialog] 否");
        }
      },
      async doManualSyncAll() {
        window.vtoast.loading("同步中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'tableSyncConfig',
              actionId: 'syncTable',
              actionData: {}
            }
          }
        });
        window.vtoast.success("手动同步成功")
        await this.getTableData();
      },

      // validate
      async prepareValidate() {
        if (await this.$refs.form.validate() === false) {
          throw new Error("[prepareValidate] false");
        }
      },
      dayjs: dayjs,
    }
  })
</script>

{% endblock %}
