{% extends 'index.html'%}

{% block vue_template %}

<jh-layout>
  <v-btn
      color="success"
      class="ma-2 white--text"
      fab absolute right bottom
      style="bottom: 68px"
      v-if="isMobile"
      @click="showLeftMenu = !showLeftMenu"
  >
    <v-icon dark>
      mdi-menu-open
    </v-icon>
  </v-btn>

  <v-navigation-drawer
      app
      left
      width="270"
      style="top: 55px"
      v-model="showLeftMenu"
  >
    <template v-slot:prepend>
      <v-tabs color="success" v-model="pageTab">
        <v-tab class="pa-0">用户</v-tab>
        <v-tab class="pa-0">组织</v-tab>
        <v-tab class="pa-0">角色</v-tab>
      </v-tabs>
      <v-btn depressed small block style="max-width: 180px; display: block; min-width: calc(100% - 24px)!important;" @click="openFormDialog()" color="success ma-3 mb-0">
        添加新{{tabItemTitle}}
      </v-btn>
      <v-col>
        <v-text-field
            label="搜索" dense
            color="success"
            class="cus-v-input"
            placeholder="搜索"
            v-model="tabsSearchKeyword"
            prepend-inner-icon="mdi-text-search"
            outlined
        ></v-text-field>
      </v-col>
    </template>

    <v-divider></v-divider>

    <v-list-item-group v-model="selectedItem" mandatory dense color="success">
      <v-list-item
          v-for="item in tabData"
          :key="item.value"
      >
        <v-list-item-content>
          <v-list-item-title>{{ item.text }}({{ item.value }})</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-navigation-drawer>

  <!-- 页面主要内容 -->
  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0" :style="{maxWidth: 'calc(100vw - ' + (isMobile ? 0 : 270) + 'px)'}">

    <v-row class="flex-nowrap ma-0">
      <v-col :style="{maxWidth: 'calc(100% - ' + (isMobile ? 0 : 270) + 'px)'}" class="d-flex flex-column ma-0 pb-0" :class="{'pa-0': isMobile}">
        <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pb-0': !isMobile, 'pa-2': isMobile, 'pl-0': !isMobile, 'pr-0': !isMobile}">

          <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0 d-flex align-center">
            <v-btn color="success" small dark class="elevation-0 mr-4" @click="handleTableButton({ text: '新增', buttonType: 'add' }, null)">新增</v-btn>
            <div style="border-radius: 4px; padding-top: 1px" class="pr-2 mr-4">
              <v-switch class="d-inline-block ma-0 pa-0"
                        v-model="showAllData"
                        label="显示全部"
                        color="success"
                        inset
                        @change="getTableData"
                        hide-details
              ></v-switch>
            </div>
            <v-divider vertical></v-divider>
            <span class="body-2 ml-5">共{{ tableData.length }}条记录</span>
          </v-col>

          <v-spacer></v-spacer>

          <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="pa-xs-0 pa-xs-2 col-sm-8-flex" :class="{'pr-0': !isMobile}">
            <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense outlined></v-text-field>
          </v-col>

        </v-row>
        <v-data-table fixed-header
                      :headers="headers"
                      :items="tableData"
                      :search="searchInput"
                      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                      :items-per-page="20"
                      :loading="isTableLoading"
                      checkbox-color="success"
                      mobile-breakpoint="0"
                      class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
          <template v-slot:item.action="{ item }">
            <v-btn small class="mr-2" :class="tableButton.color" v-for="tableButton of tableButtonList" @click="handleTableButton(tableButton, item)">
              {{ tableButton.text }}
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
      <v-col style="max-width: 270px; border-left: 1px solid #ccc;" v-if="!isMobile">
        <v-list-item-title style="font-size: 1.25rem!important; font-weight: bold;" class="pb-3">{{tabItemTitle + '信息'}}</v-list-item-title>
        <v-form v-model="isFormValidRight" ref="formRight" lazy-validation>
          <v-list-item v-for="item of tabItemKeys" class="pl-0 pt-4 pr-0">
            <v-select v-if="item.type === 'select'"
                      class="cus-v-input mr-2" dense outlined
                      item-value="value"
                      :label="item.text" v-model="activeItemInfo[item.value]"
                      :rules="item.require == false ? nullRules : requireRules" :items="constantCollection[item.value]"></v-select>
            <v-textarea v-else-if="item.type === 'textarea'" class="cus-v-input mr-2" dense outlined :label="item.text" v-model="activeItemInfo[item.value]" :rules="item.require == false ? nullRules : requireRules"></v-textarea>
            <v-text-field v-else class="cus-v-input mr-2" dense outlined :label="item.text" v-model="activeItemInfo[item.value]" :rules="item.require == false ? nullRules : requireRules"></v-text-field>
          </v-list-item>
          <v-row class="pa-5">
            <v-spacer></v-spacer>
            <v-btn color="error" small @click="deleteLeftItem" class="mr-4">删除</v-btn>
            <v-btn color="success" small @click="updateLeftItem">修改</v-btn>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>

  <!-- 编辑抽屉 -->
  <v-navigation-drawer v-model="isEditDrawerShow" absolute temporary right width="80%" hide-overlay
                       class="elevation-24">
    <v-form v-model="isFormValid" ref="form" lazy-validation>
      <v-row>
        <span class="title pa-6">{{ currentClickButton.title }}信息</span>
        <v-spacer></v-spacer>
        <v-btn class="mt-7 mr-8 elevation-0" fab x-small @click="isEditDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none">
        <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
          <v-select class="cus-v-input mr-2" dense outlined clearable label="UserID" :rules="requireRules" v-model="editItem.userId" :items="constantCollection.user"></v-select>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
          <v-select class="cus-v-input mr-2" dense outlined clearable label="GroupID" :rules="requireRules" v-model="editItem.groupId" :items="constantCollection.group"></v-select>
        </v-col>
        <v-col cols="12" sm="12" md="4" xl="3" class="pa-xs-0 pb-xs-4 pb-3">
          <v-select class="cus-v-input mr-2" dense outlined clearable label="RoleId" :rules="requireRules" v-model="editItem.roleId" :items="constantCollection.role"></v-select>
        </v-col>
      </v-row>

      <v-row class="justify-end pr-6">
        <v-btn color="success" @click="saveInfo" small :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mb-2': isMobile, 'mr-4': isMobile}">保存</v-btn>
        <v-btn class="ml-2" @click="isEditDrawerShow = false" small :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mr-4': isMobile}">取消</v-btn>
      </v-row>
    </v-form>
  </v-navigation-drawer>

  <v-dialog
      v-model="addItemDialog"
      width="800px"
  >
    <v-card class="pa-2 pb-4">
      <v-card-title class="text-h5  lighten-2">
        添加新{{tabItemTitle}}
      </v-card-title>

      <v-card-text>
        <v-form v-model="isFormValidLeft" v-if="addItemDialog" ref="formLeft" lazy-validation>
          <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none" v-if="pageTab == 0">
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="用户ID" v-model="editItem.userId" :rules="requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="用户名" v-model="editItem.username" :rules="requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-select class="cus-v-input mr-2" dense outlined clearable label="用户状态" v-model="editItem.userStatus" :items="constantCollection.userStatus"></v-select>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-select class="cus-v-input mr-2" dense outlined clearable label="用户类型" v-model="editItem.userType" :items="constantCollection.userType"></v-select>
            </v-col>
            <v-col v-if="currentClickButton.action === 'add'" cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="初始密码" v-model="editItem.clearTextPassword" :rules="requireRules"></v-text-field>
            </v-col>
          </v-row>
          <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none" v-if="pageTab == 1">
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="组织ID" v-model="editItem.groupId" :rules="requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="组织名" v-model="editItem.groupName" :rules="requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="组织描述" v-model="editItem.groupDesc"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="组织Logo" v-model="editItem.groupAvatar"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="拓展字段" v-model="editItem.groupExtend"></v-text-field>
            </v-col>
          </v-row>
          <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none" v-if="pageTab == 2">
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="角色ID" v-model="editItem.roleId" :rules="requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="角色名" v-model="editItem.roleName" :rules="requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" class="pa-xs-0 pb-xs-4 pb-3">
              <v-text-field class="cus-v-input mr-2" dense outlined label="角色描述" v-model="editItem.roleDesc"></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click="addItemDialog = false"> 取消</v-btn>
        <v-btn color="success" small @click="addNewItem()"> 保存</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</jh-layout>

{% endblock %}

{% block vue_body %}

{% include 'layout/jhLayout.html' %}
{% include 'common/resetTableMaxHeight.html' %}
<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      // 表格相关数据
      isFormValid: true,
      isFormValidLeft: true,
      isFormValidRight: true,
      showAllData: false,
      addItemDialog: false,
      pageTab: 0,
      selectedItem: 0,
      showLeftMenu: window.innerWidth > 600,
      requireRules: [ v => !!v],
      nullRules: [ v => true],
      tabsSearchKeyword: null,
      constantCollection: {
        user: [],
        group: [],
        role: [],
        userStatus: [{value: 'active', text: '活跃'}, {value: 'banned', text: '关闭'}],
        userType: [{value: 'common', text: '管理员'}, {value: 'staff', text: '职工'}, {value: 'student', text: '学员'}],
      },
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      pageTableDataFromBackend: [],
      editItem: {},
      activeItemInfo: {},
      headers: [
        {text: "用户Id", value: "userId", width: 120, class: 'fixed', cellClass: 'fixed'},
        {text: "组织ID", value: "groupId", width: 120},
        {text: "角色ID", value: "roleId", width: 120},
        {text: "操作人", value: "operationByUser", width: 120},
        {text: "操作时间", value: "operationAt", width: 250},
        {text: '操作', value: 'action', align: 'center', sortable: false, width: 180, class: 'fixed', cellClass: 'fixed'},
      ],

      userKeys: [
        {text: "用户Id", value: "userId"},
        {text: "用户名", value: "username"},
        {text: "用户账号状态", value: "userStatus", type: 'select'},
        {text: "用户类型", value: "userType", type: 'select'},
      ],

      groupKeys: [
        {text: "组织Id", value: "groupId"},
        {text: "组织名", value: "groupName"},
        {text: "组织描述", value: "groupDesc", require: false},
        {text: "组织Logo", value: "groupAvatar", require: false},
        {text: "拓展字段", value: "groupExtend", type: 'textarea', require: false},
      ],
      roleKeys: [
        {text: "角色ID", value: "roleId"},
        {text: "角色名", value: "roleName"},
        {text: "角色描述", value: "roleDesc", require: false},
      ],
      currentClickButton: {title: '新增', action: 'add'},
      tableButtonList: [
        {text: '修改', buttonType: 'edit', color: 'success',},
        {text: '删除', buttonType: 'delete', color: 'error',}
      ],
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      },
      tabData() {
        // _.toPairs对象转成了数组，因此可以索引获取
        const temp = _.toPairs(this.constantCollection);
        const tempTabList = temp[this.pageTab][1];
        if(this.tabsSearchKeyword) {
          const searchKey = [['userId', 'username'], ['groupId', 'groupName'], ['roleId', 'roleName']][this.pageTab];
          return tempTabList.filter((item) => item.data[searchKey[0]].includes(this.tabsSearchKeyword) || item.data[searchKey[1]].includes(this.tabsSearchKeyword));
        }
        return tempTabList;

      },
      tabPageHeaders() {
        if (this.pageTab === 0) {
          return this.headers;
        }
        if (this.pageTab === 1) {
          return this.pageHeaders;
        }
      },
      tabItemTitle() {
        const names = ['用户', '组织', '角色'];
        return names[this.pageTab];
      },
      tabItemKeys() {
        return [this.userKeys, this.groupKeys, this.roleKeys][this.pageTab];
      }
    },
    watch: {
      async pageTab() {
        this.getTableData();
      },
      selectedItem(v, ov) {
        if (v !== ov) {
          this.getTableData();
        }
      }
    },
    async created() {
      this.selectGroup();
      this.selectRole();
      await this.selectUser();
      this.buildActiveItemInfo(this.constantCollection);
      await this.getTableData();
    },
    mounted() {
    },
    methods: {
      // 获取当前左侧选中的选项详情
      buildActiveItemInfo(value) {
        const tabItemList = [value.user, value.group, value.role][this.pageTab || 0];
        if(tabItemList && tabItemList[this.selectedItem || 0]) {
          this.activeItemInfo = tabItemList[this.selectedItem || 0].data;
        }
      },
      async selectGroup() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'selectGroup'
            }
          }
        });
        this.constantCollection.group = [...result.data.appData.rows.map((group) => {
          return {value: group.groupId, text: group.groupName, data: group}
        })]
      },
      async selectRole() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'selectRole'
            }
          }
        });
        this.constantCollection.role = [...result.data.appData.rows.map((role) => {
          return {value: role.roleId, text: role.roleName, data: role}
        })]
      },
      async selectUser() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'selectUser'
            }
          }
        });
        this.constantCollection.user = [...result.data.appData.rows.map((user) => {
          return {value: user.userId, text: user.username, data: user}
        })]
      },
      /**
       * 获取表格数据
       */
      async getTableData() {
        this.isTableLoading = true;
        let where = {};
        const activeItem = this.tabData[this.selectedItem];
        if(!this.showAllData && activeItem) {
          const key = ['userId', 'groupId', 'roleId'][this.pageTab];
          where = {[key]: activeItem.value}
        }
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'selectItemList',
              where: where
            }
          }
        });
        this.tableDataFromBackend = result.data.appData.rows;
        this.buildActiveItemInfo(this.constantCollection);
        this.isTableLoading = false;
      },

      /**
       * 点击表格数据按钮
       */
      async handleTableButton(button, item) {
        const buttonType = button.buttonType;
        this.editItem = {...item};
        switch (buttonType) {
          case 'edit':
            this.currentClickButton = {action: 'edit', title: '修改'};
            this.isEditDrawerShow = true;
            break;
          case 'add':
            this.currentClickButton = {action: 'add', title: '新增'};
            this.editItem = {};
            this.isEditDrawerShow = true;
            break;
          case 'delete':
            await this.deleteItem();
            break;
        }
      },
      /**
       * 删除
       */
      async deleteItem() {
        if (await window.confirmDialog({content: "确定要删除吗？"})) {
          window.vtoast.loading('正在删除')
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'userGroupRoleManagement',
                actionId: 'deleteItem',
                where: {id: this.editItem.id}
              }
            }
          });
          window.vtoast.success('删除成功')
          await this.getTableData();
        }
      },
      /**
       * 保存数据
       */
      async saveInfo() {
        if (!this.$refs.form.validate()) return false;
        await window.vtoast.loading("保存中");
        if (this.currentClickButton.action === 'add') {
          await this.insertItem();
        }
        if (this.currentClickButton.action === 'edit') {
          await this.updateItem();
        }
        await window.vtoast.success("保存成功");
        this.isEditDrawerShow = false;
        await this.getTableData();
      },
      /**
       * 新增数据
       */
      async insertItem() {
        const {userId, groupId, roleId} = this.editItem;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'insertItem',
              actionData: {userId, groupId, roleId}
            }
          }
        })
      },
      // 打开添加用户、组织、角色的表单弹窗
      async openFormDialog() {
        this.editItem = {};
        this.addItemDialog = true;
      },
      // 添加用户、组织、角色的表单
      async addNewItem() {
        if (!this.$refs.formLeft.validate()) return false;
        const insertActionId = ['insertUser', 'insertGroup', 'insertRole'][this.pageTab];
        this.addItemDialog = false;
        window.vtoast.loading("添加中")
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: insertActionId,
              actionData: this.editItem
            }
          }
        })
        window.vtoast.success("添加成功")
        await this.reGetLeftData();
      },
      // 刷新用户、组织、角色的数据
      async reGetLeftData() {
        if (this.pageTab === 0) {
          await this.selectUser();
        }
        if (this.pageTab === 1) {
          await this.selectGroup();
        }
        if (this.pageTab === 2) {
          await this.selectRole();
        }
        this.$forceUpdate()
      },
      /**
       * 保存
       */
      async updateItem() {
        const id = this.editItem.id;
        const {userId, groupId, roleId} = this.editItem;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'updateItem',
              actionData: {userId, groupId, roleId},
              where: {id: id}
            }
          }
        })
      },
      // 删除用户、组织、角色
      async deleteLeftItem() {
        if(await window.confirmDialog({"title": `确认删除该${this.tabItemTitle}？`})) {
          const id = this.activeItemInfo.id;
          const actionId = ['deleteUser', 'deleteGroup', 'deleteRole'][this.pageTab];
          const whereKey = ['userId', 'groupId', 'roleId'][this.pageTab];
          const where = [{userId: this.activeItemInfo['userId']}, {groupId: this.activeItemInfo['groupId']}, {roleId: this.activeItemInfo['roleId']}][this.pageTab];
          if(where[whereKey]) {
            window.vtoast.loading("删除中");
            await window.jianghuAxios({
              data: {
                appData: {
                  pageId: 'userGroupRoleManagement',
                  actionId: actionId,
                  where: where
                }
              }
            })
            window.vtoast.success("删除成功");
            await this.reGetLeftData();
          }
        }
      },
      // 更新修改用户、组织、角色
      async updateLeftItem() {
        if (!this.$refs.formRight.validate()) return false;
        window.vtoast.loading("保存中");
        const id = this.activeItemInfo.id;
        delete this.activeItemInfo.id;
        const actionId = ['updateUser', 'updateGroup', 'updateRole'][this.pageTab];
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: actionId,
              actionData: this.activeItemInfo,
              where: {id: id}
            }
          }
        })
        window.vtoast.success("保存成功");
        await this.reGetLeftData();
      }
    }
  })
</script>


{% endblock %}
