{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>

<!-- 页面主要内容 -->
<v-card :class="{'px-2': isMobile}">
  <v-row class="ma-0  align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

    <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0">
      <v-btn color="success" dark class="elevation-0 mr-2" @click="doAction('startCreateItem', null)">新增</v-btn>
      <span class="body-2">共{{ tableData.length }}条记录</span>
    </v-col>

    <v-spacer></v-spacer>

    <v-col cols="12" xs="12" sm="4" md="3" xl="3" class="px-0">
      <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line></v-text-field>
    </v-col>

  </v-row>
  <v-data-table
                :headers="headers"
                :items="tableData"
                :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                :items-per-page="-1"
                mobile-breakpoint="0"
                :loading="isTableLoading"
                checkbox-color="success"
                :class="{'mx-2': isMobile}"
                class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
    <template v-slot:item.appType="{ item }">
      {{ (constantCollection.appType.find(({value}) => value === item.appType) || {}).text }}
    </template>
    <template v-slot:item.action="{ item }">
      <v-btn small class="mr-2" color="success" @click="doAction('startUpdateItem', {item})">修改</v-btn>
      <v-btn small class="mr-2" color="warning" @click="doAction('jump', `/${appInfo.appId}/page/userManagementOfOneApp?id=${item.appId}&title=${item.appName}`)">APP的用户管理</v-btn>
    </template>
  </v-data-table>
</v-card>

<!-- 编辑抽屉 -->
<v-navigation-drawer v-model="isEditDrawerShow" fixed temporary right width="80%"
                     class="elevation-24">
  <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-8': isMobile}">{{ currentClickButton.title }}信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row  :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">应用ID</span>
        <v-text-field class="cus-v-input mr-2" :disabled="currentClickButton.action !== 'add'" dense filled single-line label="应用ID" v-model="editItem.appId"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">应用名</span>
        <v-text-field class="cus-v-input mr-2" dense filled single-line label="应用名" v-model="editItem.appName" :rules="requireRules"></v-text-field>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">应用类型</span>
        <v-select class="cus-v-input mr-2" dense filled single-line clearable label="应用类型" v-model="editItem.appType" :items="constantCollection.appType"></v-select>
      </v-col>
    </v-row>
    <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-4': isMobile, 'mb-8': isMobile}">
      <v-btn color="success" @click="doAction(dialogSaveInfoAction)">保存</v-btn>
      <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  mixins: [window.jianghuUiActionMixins],
  data: {
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantCollection: {
      appType: [{"value": "internal", "text": "内部应用"}, {"value": "external", "text": "外部应用"}],
    },

    appInfo: window.appInfo,
    isEditDrawerShow: false,
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "应用ID", value: "appId", align: "start", sortable: true, width: 120},
      {text: "应用名", value: "appName", align: "start", sortable: true, width: 120},
      {text: "应用类型", value: "appType", align: "start", sortable: true, width: 120},
      {text: "操作人", value: "operationByUser", align: "start", sortable: true, width: 120},
      {text: "操作时间", value: "operationAt", align: "start", sortable: true, width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],

    currentClickButton: {title: '新增', action: 'add'},
    editItem: {},
    dialogSaveInfoAction: ''
  },
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend
    },
    computedEditItem() {
      return this.editItem;
    },
  },
  watch: {},
  async created() {
  },
  mounted() {
    this.doAction('refreshTableData');
  },
  methods: {
    async doAction(uiActionId, actionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData(actionData);
            break;
          case 'startCreateItem':
            await this.clearItemData(actionData);
            await this.openCreateItemDialog(actionData);
            break;
          case 'createItem':
            await this.prepareValidate(actionData);
            await this.confirmCreateItemDialog(actionData);
            await this.doCreateItem(actionData);
            await this.refreshTableData(actionData);
            await this.closeDrawerShow(actionData);
            break;
          case 'startUpdateItem':
            await this.prepareItemData(actionData);
            await this.openUpdateDialog(actionData);
            break;
          case 'updateItem':
            await this.prepareValidate(actionData);
            await this.confirmUpdateItemDialog(actionData);
            await this.doUpdateItem(actionData);
            await this.refreshTableData(actionData);
            await this.closeDrawerShow(actionData);
            break;
          case 'jump':
            await this.jump(actionData);
            break;
          default:
            console.error("[doAction] uiActionId not find", { uiActionId });
            break;
        }
    },
    /**
     * 获取表格数据
     */
    async refreshTableData() {
      this.isTableLoading = true;
      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      })).data.appData.resultData.rows;

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },

    // startCreateItem
    async clearItemData() {
      this.editItem = {};
    },

    async openCreateItemDialog() {
      this.currentClickButton = {action: 'add', title: '新增'};
      this.isEditDrawerShow = true;
      this.dialogSaveInfoAction = 'createItem';
    },

    // createItem
    async prepareValidate() {
      if (await this.$refs.form.validate() === false) {
          throw new Error("[prepareValidate] false");
      }
    },

    // createItem
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
      }
    },
    /**
     * 新增学生
     */
    async doCreateItem() {
      const { id, ...actionData } = this.computedEditItem;
      await window.vtoast.loading("新增应用");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagement',
            actionId: 'insertItem',
            actionData: actionData
          }
        }
      })
      await window.vtoast.success("新增应用成功");
    },
    async closeDrawerShow() {
      this.isEditDrawerShow = false;
    },

    // startUpdateItem
    async prepareItemData({item}) {
      console.log('prepareItemData')
      this.editItem = {...item};
    },

    async openUpdateDialog() {
      this.currentClickButton = {action: 'edit', title: '修改'};
      this.isEditDrawerShow = true;
      this.dialogSaveInfoAction = 'updateItem';
    },

    // updateItem
    async confirmUpdateItemDialog() {
      console.log('confirmUpdateItemDialog')
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
      }
    },
    /**
     * 保存学生
     */
    async doUpdateItem() {
      const { id, ...actionData } = this.computedEditItem;
      await window.vtoast.loading("修改应用信息");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appManagement',
            actionId: 'updateItem',
            actionData: actionData,
            where: {id}
          }
        }
      })
      await window.vtoast.success("修改应用信息成功");
    },
    // 页面跳转
    jump(url) {
      window.location.href = url;
    },
  }
})
</script>

<style scoped>
</style>
{% endblock %}
