{% extends 'index.html'%}

<!-- vue template 代码块 -->
{% block vue_template %}
<jh-layout>
<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
    <v-col cols="12" class="pa-xs-0 pb-xs-4 pb-0">
      <h2>
        【{{ title }}】的用户管理
        <span style="font-size: 1rem;" :class="{'d-block': isMobile}">(ID: {{ appId }})</span>
      </h2>
    </v-col>
  </v-row>
  <v-divider></v-divider>
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
    <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0 ">
      <v-btn dark color="success" @click="isEditDrawerShow = true" class="elevation-0 mr-2">分配新的用户</v-btn>
      <span class="body-2">共{{ tableData.length }}条记录</span>
    </v-col>
    <v-spacer></v-spacer>
    <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
      <v-text-field dense outlined v-model="searchInput" label="表格过滤" class="cus-v-input"></v-text-field>
    </v-col>
  </v-row>
  <v-data-table
      fixed-header
      :headers="headers"
      :items="tableData"
      :search="searchInput"
      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
      :items-per-page="-1"
      :loading="isTableLoading"
      :dense="isMobile"
      checkbox-color="success"
      mobile-breakpoint="0"
      class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
  >
    <template v-slot:item.userType="{ item }">
      {{ (constantCollection.userType.find(({value}) => value === item.userType) || {}).text }}
    </template>
    <template v-slot:item.userStatus="{ item }">
      {{ (constantCollection.userStatus.find(({value}) => value === item.userStatus) || {}).text }}
    </template>
    <template v-slot:item.operationAt="{ item }">
      {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
    </template>
    <template v-slot:item.option="{ item }">
      <v-btn :small="!isMobile" :xSmall="isMobile" :class="btn.color" v-for="btn of tableButtonList" @click="deleteRelation(item)" :key="btn.value">
        {{ btn.text }}
      </v-btn>
    </template>
  </v-data-table>
  <v-navigation-drawer
      v-model="isEditDrawerShow"
      :permanent="isEditDrawerPermanent"
      absolute
      temporary
      right
      touchless
      width="80%"
      :dense="isMobile"
      hide-overlay
      class="elevation-24"
  >
    <v-container class="navDrawerContainer">
      <v-row class=" pa-2">
        <v-btn class="mt-0" dark color="success" elevation="0" @click="addSelected">新增</v-btn>
        <v-spacer></v-spacer>
        <v-btn class="mr-4 mt-1 elevation-0" fab  x-small @click="isEditDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row class="pa-2 py-0">
        <v-data-table
            fixed-header
            show-select
            checkbox-color="success"
            :headers="headers"
            :loading="isDrawerTableLoading"
            :items="drawerTableData"
            item-key="userId"
            :dense="isMobile"
            :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
            :items-per-page="-1"
            mobile-breakpoint="0"
            @item-selected="drawerItemSelected"
            @toggle-select-all="drawerToggleSelectAll"
            class="elevation-0 pt-0 mb-xs-4 flex-fill d-flex flex-column show-select"
        >
          <template v-slot:item.userType="{ item }">
            {{ (constantCollection.userType.find(({value}) => value === item.userType) || {}).text }}
          </template>
          <template v-slot:item.userStatus="{ item }">
            {{ (constantCollection.userStatus.find(({value}) => value === item.userStatus) || {}).text }}
          </template>
          <template v-slot:item.operationAt="{ item }">
            {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
          </template>
          <template v-slot:item.option="{ item }">
            <v-btn :small="!isMobile" :xSmall="isMobile" class="success" @click="buildRelation(item)">新增</v-btn>
          </template>
        </v-data-table>
      </v-row>
    </v-container>
  </v-navigation-drawer>
</v-container>

</jh-layout>
{% endblock %}

{% block vue_body %}
{% include 'layout/jhLayout.html' %}
{% include 'common/resetTableMaxHeight.html' %}
<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    appId: null,
    title: null,

    searchInput: null,
    isTableLoading: true,
    isDrawerTableLoading: true,
    isEditDrawerPermanent: false,
    isEditDrawerShow: false,
    constantCollection: {
      userStatus: [{"value": "active", "text": "正常"}, {"value": "banned", "text": "禁用"}],
      userType: [{"value": "common", "text": "普通用户"}],
    },
    headers: [
      {text: "用户ID[登陆]", value: "userId", align: "start", sortable: true, width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "用户名", value: "username", align: "start", sortable: true, width: 140},
      {text: "用户类型", value: "userType", align: "start", sortable: true, width: 120},
      {text: "用户状态", value: "userStatus", align: "start", sortable: true, width: 120},
      {text: "操作人", value: "operationByUser", align: "start", sortable: true, width: 120},
      {text: "操作时间", value: "operationAt", align: "start", sortable: true, width: 250},
      {text: '操作', value: 'option', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],
    drawerTableDataFromBackend: [],
    tableDataFromBackend: [],
    tableButtonList: [
      {text: '删除', buttonType: 'delete', color: 'error',},
    ],
    drawerItemSelectedClass: [],
    currentClickButton: {title: '新增', action: 'add'},
  }),

  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    },
    drawerTableData() {
      if (_.isEmpty(this.drawerTableDataFromBackend)) {
        return [];
      }
      return _.differenceBy(this.drawerTableDataFromBackend, this.tableData, 'userId');
    },
  },
  watch: {},
  async created() {
    const urlParams = new URLSearchParams(location.search);
    const id = urlParams.get('id');
    const title = urlParams.get('title');
    if (id && title) {
      this.appId = id;
      this.title = title;
    } else {
      setTimeout(() => {
        window.vtoast.fail('请从"班级列表"点击"学生"进入');
      }, 1000);
      return;
    }
    this.getTableData();
    await this.getDrawerTableData();

  },
  mounted() {
  },
  methods: {
    async getTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagementOfOneApp',
            actionId: 'selectItemList',
            actionData: {},
            where: {
              appId: this.appId
            },
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.tableDataFromBackend = result.data.appData.rows;
      this.isTableLoading = false;
    },
    // 未包含数据列表
    async getDrawerTableData() {
      this.isDrawerTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagementOfOneApp',
            actionId: 'selectAppItemList',
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.drawerTableDataFromBackend = result.data.appData.rows;
      this.isDrawerTableLoading = false;
    },
    async addSelected() {
      this.isEditDrawerPermanent = true;
      if (await window.confirmDialog({ title: '确定将学生分配给此班级' })) {
        for (let i = 0; i < this.drawerItemSelectedClass.length; i++) {
          this.isEditDrawerPermanent = false;
          window.vtoast.loading(`正在新增 第${i + 1}个`);
          const {userId} = this.drawerItemSelectedClass[i];
          await this.buildRelationImpl(userId);
        }
        window.vtoast.success("批量新增成功");
        await this.getTableData();
        this.drawerItemSelectedClass = [];
      }
    },
    async buildRelation({userId}) {
      this.isEditDrawerPermanent = true;
      if (await window.confirmDialog({ title: '确定将学生分配给此班级' })) {
        this.isEditDrawerPermanent = false;
        window.vtoast.loading("正在新增");
        await this.buildRelationImpl(userId);
        window.vtoast.success("新增成功");
        await this.getTableData();
      }
    },
    async buildRelationImpl(userId) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagementOfOneApp',
            actionId: 'insertItem',
            actionData: {
              userId, appId: this.appId
            }
          }
        }
      });
    },
    async deleteRelation({id}) {
      if (await window.confirmDialog({ title: '确认将学生从班级删除？' })) {
        window.vtoast.loading("删除中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'userManagementOfOneApp',
              actionId: 'deleteItem',
              actionData: {},
              where: { id: id }
            }
          }
        });
        window.vtoast.success("删除成功");
        await this.getTableData();
      }
    },
    drawerItemSelected({item, value}) {
      if (value) {
        this.drawerItemSelectedClass.push(item);
      } else {
        this.drawerItemSelectedClass = _.filter(this.drawerItemSelectedClass, ['studentId', item.studentId]);
      }
    },
    drawerToggleSelectAll({items, value}) {
      if (value) {
        this.drawerItemSelectedClass = items;
      } else {
        this.drawerItemSelectedClass = [];
      }
    },
    dayjs: dayjs,
  }
})
</script>
{% endblock %}
