{% extends 'template/jhTemplateV3.html'%}

<!-- vue template 代码块 -->
{% block vue_template %}
<jh-layout-v3>
<template slot="breadcrumbsTitle">
  <div>
    APP【{{ title }}】的用户管理
    <span style="font-size: 18px;">(ID: {{ appId }})</span>
  </div>
</template>
<v-card :class="{'px-2': isMobile}">
  <v-row class="ma-0  align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
    <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0 ">
      <v-btn dark color="success" @click="isEditDrawerShow = true" class="elevation-0 mr-2">分配新的用户</v-btn>
      <span class="body-2">共{{ tableData.length }}条记录</span>
    </v-col>
    <v-spacer></v-spacer>
    <v-col cols="12" xs="12" sm="4" md="3" xl="3" class="px-0">
      <v-text-field dense filled single-line v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input"></v-text-field>
    </v-col>
  </v-row>
  <v-data-table
      :headers="headers"
      :items="tableData"
      :search="searchInput"
      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
      :items-per-page="-1"
      :loading="isTableLoading"
      checkbox-color="success"
      :class="{'mx-2': isMobile}"
      mobile-breakpoint="0"
      class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
  >
    <template v-slot:item.userType="{ item }">
      {{ (constantCollection.userType.find(({value}) => value === item.userType) || {}).text }}
    </template>
    <template v-slot:item.userStatus="{ item }">
      {{ (constantCollection.userStatus.find(({value}) => value === item.userStatus) || {}).text }}
    </template>
    <template v-slot:item.operationAt="{ item }">
      {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
    </template>
    <template v-slot:item.option="{ item }">
      <v-btn small :class="btn.color" v-for="btn of tableButtonList" @click="doAction('deleteRelation', {item})" :key="btn.value">
        {{ btn.text }}
      </v-btn>
    </template>
  </v-data-table>
</v-card>
  <v-navigation-drawer
      v-model="isEditDrawerShow"
      fixed
      temporary
      right
      touchless
      width="80%"
      class="elevation-24"
  >
    <v-container class="navDrawerContainer">
      <v-row class="pt-8" :class="{'px-12': !isMobile, 'px-4': isMobile}">
        <v-btn class="mt-0" dark color="success" elevation="0" @click="doAction('allotUser')">保存选中</v-btn>
        <v-spacer></v-spacer>
        <v-btn class="mt-0 elevation-0" :class="{'mr-16': !isMobile, 'mr-4': isMobile}" fab x-small @click="isEditDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row class="pa-2 py-0">
        <v-data-table
            show-select
            checkbox-color="success"
            :headers="headers"
            :loading="isDrawerTableLoading"
            :items="drawerTableData"
            item-key="userId"
            :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
            :items-per-page="-1"
            mobile-breakpoint="0"
            @item-selected="drawerItemSelected"
            @toggle-select-all="drawerToggleSelectAll"
            class="elevation-0 flex-fill d-flex flex-column show-select pt-6"
            :class="{'px-2': isMobile}"
        >
          <template v-slot:item.userType="{ item }">
            {{ (constantCollection.userType.find(({value}) => value === item.userType) || {}).text }}
          </template>
          <template v-slot:item.userStatus="{ item }">
            {{ (constantCollection.userStatus.find(({value}) => value === item.userStatus) || {}).text }}
          </template>
          <template v-slot:item.operationAt="{ item }">
            {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
          </template>
          <template v-slot:item.option="{ item }">
            <v-btn small class="success" @click="doAction('buildRelation', {item})">新增</v-btn>
          </template>
        </v-data-table>
      </v-row>
    </v-container>
  </v-navigation-drawer>


</jh-layout-v3>
{% endblock %}

{% block vue_body %}
<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  mixins: [window.jianghuUiActionMixins],
  data: {
    appId: null,
    title: null,

    searchInput: null,
    isTableLoading: true,
    isDrawerTableLoading: true,
    isEditDrawerPermanent: false,
    isEditDrawerShow: false,
    constantCollection: {
      userStatus: [{"value": "active", "text": "正常"}, {"value": "banned", "text": "禁用"}],
      userType: [{"value": "common", "text": "普通用户"}],
    },
    headers: [
      {text: "用户ID[登陆]", value: "userId", align: "start", sortable: true, width: 120,},
      {text: "用户名", value: "username", align: "start", sortable: true, width: 140},
      {text: "用户类型", value: "userType", align: "start", sortable: true, width: 120},
      {text: "用户状态", value: "userStatus", align: "start", sortable: true, width: 120},
      {text: "操作人", value: "operationByUser", align: "start", sortable: true, width: 120},
      {text: "操作时间", value: "operationAt", align: "start", sortable: true, width: 250},
      {text: '操作', value: 'option', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],
    drawerTableDataFromBackend: [],
    tableDataFromBackend: [],
    tableButtonList: [
      {text: '删除', buttonType: 'delete', color: 'error',},
    ],
    drawerItemSelectedClass: [],
    currentClickButton: {title: '新增', action: 'add'},
  },
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    },
    drawerTableData() {
      if (_.isEmpty(this.drawerTableDataFromBackend)) {
        return [];
      }
      return _.differenceBy(this.drawerTableDataFromBackend, this.tableData, 'userId');
    },
  },
  watch: {},
  async created() {
    const urlParams = new URLSearchParams(location.search);
    const id = urlParams.get('id');
    const title = urlParams.get('title');
    if (id && title) {
      this.appId = id;
      this.title = title;
    } else {
      setTimeout(() => {
        window.vtoast.fail('请从"班级列表"点击"学生"进入');
      }, 1000);
      return;
    }
  },
  mounted() {
    this.doAction('refreshTableData');
    this.doAction('getDrawerTableData');
  },
  methods: {
    async doAction(actionId, actionData) {
				switch (actionId) {
				case 'refreshTableData':
					await this.refreshTableData(actionData);
					break;
				case 'getDrawerTableData':
					await this.getDrawerTableData(actionData);
					break;
				case 'allotUser':
					await this.confirmAllotUserDialog(actionData);
					await this.doAllotUser(actionData);
					await this.refreshTableData(actionData);
					break;
				case 'buildRelation':
					await this.confirmAllotUserDialog(actionData);
					await this.doBuildRelation(actionData);
					await this.refreshTableData(actionData);
					break;
				case 'deleteRelation':
					await this.confirmDeleteUserDialog(actionData);
					await this.doDeleteRelation(actionData);
					await this.refreshTableData(actionData);
					break;
				default:
					console.error("[doAction] actionId not find", { actionId });
					break;
				}
		},
    async refreshTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagementOfOneApp',
            actionId: 'selectItemList',
            actionData: {},
            where: {
              appId: this.appId
            },
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.tableDataFromBackend = result.data.appData.resultData.rows;
      this.isTableLoading = false;
    },
    // 未包含数据列表
    async getDrawerTableData() {
      this.isDrawerTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagementOfOneApp',
            actionId: 'selectAppItemList',
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.drawerTableDataFromBackend = result.data.appData.resultData.rows;
      this.isDrawerTableLoading = false;
    },

    // allotStudent
    async confirmAllotUserDialog() {
      if (await window.confirmDialog({title: "确定将用户分配给此APP", content: "确定分配吗？"}) === false) {
          throw new Error("[confirmAllotUserDialog] 否");
      }
    },

    async doAllotUser() {
      for (const [i, userId] of this.drawerItemSelectedClass.entries()) {
        window.vtoast.loading(`正在新增 第${i + 1}个`);
        await this.buildRelationImpl(userId);
      }
      window.vtoast.success("批量新增成功");
      this.drawerItemSelectedClass = [];
    },

    async doBuildRelation({item}) {
      window.vtoast.loading("正在新增");
      await this.buildRelationImpl(item.userId);
      window.vtoast.success("新增成功");
    },
    async buildRelationImpl(userId) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagementOfOneApp',
            actionId: 'insertItem',
            actionData: {
              userId, appId: this.appId
            }
          }
        }
      });
    },

    // allotStudent
    async confirmDeleteUserDialog() {
      if (await window.confirmDialog({title: "确认将用户从APP删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteUserDialog] 否");
      }
    },

    async doDeleteRelation({item}) {
      window.vtoast.loading("删除中");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userManagementOfOneApp',
            actionId: 'deleteItem',
            actionData: {},
            where: { userId: item.userId }
          }
        }
      });
      window.vtoast.success("删除成功");
    },
    drawerItemSelected({item, value}) {
      const { userId } = item;
      if (value) {
        this.drawerItemSelectedClass.push(userId);
      } else {
        this.drawerItemSelectedClass = this.drawerItemSelectedClass.filter(e => e !== userId);
      }
    },
    drawerToggleSelectAll({items, value}) {
      if (value) {
        const itemIds = [];
        for (const item of items) {
          itemIds.push(item.userId)
        }
        this.drawerItemSelectedClass = itemIds;
      } else {
        this.drawerItemSelectedClass = [];
      }
    },
    dayjs: dayjs,
  }
})
</script>
{% endblock %}
